<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Shozaenglish</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="static/assets/css/templatemo-softy-pinko.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="static/assets/images/logo.png" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/#testimonials1">Принципы обучения</a></li>
                            <li><a href="/#pricing-plans">Варианты обучения</a></li>
                            <li><a href="/#money-back">Возврат средств</a></li>
                            <li><a href="/#work-process">Процесс обучения</a></li>
                            <li><a href="/#manuals">Мои методички</a></li>
                            <li><a href="/#testimonials">Обо мне</a></li>
                            <li><a href="/#contact-us">Связь</a></li>
                        </ul>

                        
                        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                        <!-- ***** Language Switch Start ***** -->
                        <!-- <div class="lang-switch"> -->
                            <!-- <a href="http://127.0.0.1:5000/contact_ua" class="lang-switch-button-ukr">Укр</a> -->
                            <!-- <a href="http://127.0.0.1:5000/contact" class="lang-switch-button-ru">Ру</a> -->
                            <!-- <button class="lang-switch-button" onclick="switchLanguage('ru')">Рус</button> -->
                        <!-- </div> -->
                    </nav>
                    
                </div>
            
            
            </div>
        </div>
        
    </header>
    
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1><strong>Для отправки сообщения, выберите пункт "Связь" в Главном Меню <br> 
                        и заполните соответствующую форму.</strong></h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->    
    
    
    <!-- jQuery -->
    <script src="static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/assets/js/scrollreveal.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="static/assets/js/custom.js"></script>


</body>
</html>