<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Shozaenglish</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="static/assets/css/templatemo-softy-pinko.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="static/assets/images/logo.png" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Главная</a></li>
                            <li><a href="#testimonials1">Принципы обучения</a></li>
                            <li><a href="#pricing-plans">Варианты обучения</a></li>
                            <li><a href="#money-back">Возврат средств</a></li>
                            <li><a href="#work-process">Процесс обучения</a></li>
                            <li><a href="#manuals">Мои методички</a></li>
                            <li><a href="#testimonials">Обо мне</a></li>
                            <li><a href="#contact-us">Связь</a></li>
                        </ul>

                        
                        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                        <!-- ***** Language Switch Start ***** -->
                        <div class="lang-switch">
                            <a href="http://shozaenglish.pp.ua/ua" class="lang-switch-button-ukr">Укр</a>
                            <a href="#" class="lang-switch-button-ru">Ру</a>
                            <!-- <button class="lang-switch-button" onclick="switchLanguage('ru')">Рус</button> -->
                        </div>
                    </nav>
                    
                </div>
            
            
            </div>
        </div>
        
    </header>
    
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1><strong>Современный уверенный разговорный Английский, решающий жизненные задачи, а не тестовые упражнения</strong></h1>
                        <p>Записаться на бесплатное пробное занятие</p>
                        <a href="https://t.me/pavel_kaliberda" class="main-button-slider">Оставить заявку</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->
    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials1">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title"><b>Ты будешь доволен обучением</b></h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p><strong>Я покажу тебе, как действительно должен выглядеть процесс реального изучения английского языка.</strong></p>
                        <p><strong>Твои цели, результаты и комфорт обучения – <br> мои главные приоритеты.</strong></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/approved_5356047.png" alt=""> Проверенная методика</i>
                            <p>Обучение проходит по уникальной авторской методике, доказавшей свою эффективность на более чем сотнях студентов разного возраста и профессий, которую я разрабатывал и совершенствовал на протяжении <br>4-х лет.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/checklist_12698274.png" alt=""> Актуальная программа</i>
                            <p>Ты будешь изучать современный живой английский, который даст тебе возможность понимать и пользоваться подавляющей частью устной и письменной речи. Той, которой пользуется большинство людей в повседневной жизни, учёбе, работе и социальных сетях.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/group_4544844.png" alt=""> Группы по 8-10 человек</i>
                            <p>Работа проходит в парах или группах по 3 человека под моим личным руководством. Вы получаете практические разговорные задания, в которых обсуждаете всевозможные актуальные интересные темы, пользуясь при этом ранее изученной грамматикой и словарным запасом. <br>А в это время я поправляю ваши ошибки и даю полезные советы.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/stay-home_3015379.png" alt=""> Удобная форма обучения</i>
                            <p>Занятия проводятся в Zoom или Skype. Общий чат в Telegram. 
                                Материалы обучения: словари, учебник по грамматике, файлы для чтения и аудирования включены в стоимость курсов. Все эти методические пособия созданы лично мной, чтобы ты имел возможность самостоятельно совершенствовать свой английский, пользуясь качественными материалами в неограниченном объеме.
                                </p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/independent_11923079.png" alt=""> Здоровая среда</i>
                            <p>Наше обучение и коммуникация строятся на основе нескольких простых правил:        
                                <ul class="list">
                                    <li class="main"> 1. Расслабься и будь собой.</li>
                                    <li class="main"> 2. Уважай и помогай друг другу.</li>
                                    <li class="main"> 3. Задавай вопросы и ничего не бойся. </li>
                                    <li class="main"> 4. Занятия проходят на английском языке.</li>
                                    <li class="main"> 5. Получай удовольствие.</li>
                                </ul>
                                </p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/support_1067566.png" alt=""> Онлайн поддержка</i>
                            <p>Я всегда готов ответить на интересующие или волнующие тебя вопросы. 
                                Готов протянуть руку помощи, если ты начинаешь терять мотивацию, а также помогу убрать ненужные страхи.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->
        <!-- ***** Pricing Plans Start ***** -->
        <section class="section colored" id="pricing-plans">
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">Варианты обучения</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- ***** Section Title End ***** -->
    
                <div class="row">
                    <!-- ***** Pricing Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h3 class="pricing-title">Индивидуальное</h3>
                            </div>
                            <div class="pricing-body">
                                <div class="price-wrapper">
                                    <span class="currency">$</span>
                                    <span class="price">20/28/33</span>
                                    <span class="period">30/45/60 минут</span>
                                </div>
                                <ul class="list">
                                    <li class="active">Ты и преподаватель. 
                                        Всё внимание только тебе.
                                     </li>
                                    <li class="active">Индивидуальная программа обучения.</li> 
                                    <li class="active">Адаптирована конкретно под твои цели и задачи.</li>
                                    <li class="active">Бесплатное тестирование уровня английского языка.</li>
                                    <li class="active">Гибкое расписание.</li>
                                    <li class="active">1-3 раза в неделю по 60 минут.</li>
                                    <!-- <li>Unlimited Emails</li>
                                    <li>24/7 Security</li> -->
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="https://t.me/pavel_kaliberda" class="main-button">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Pricing Item End ***** -->
    
                    <!-- ***** Pricing Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="pricing-item active">
                            <div class="pricing-header">
                                <h3 class="pricing-title">В группе</h3>
                            </div>
                            <div class="pricing-body">
                                <div class="price-wrapper">
                                    <span class="currency">$</span>
                                    <span class="price">125</span>
                                    <span class="period">(8 занятий)</span>
                                </div>
                                <ul class="list">
                                    <li class="active">Группы по 8-10 человек.</li>
                                    <li class="active">Занятия 2 раза по 90 минут
                                        в неделю. 
                                     </li>
                                    <li class="active">Онлайн-поддержка.</li>
                                    <li class="active">Оплата частями.</li>
                                    <li class="active">Скидка 10% при оплате   
                                        полного курса.
                                      </li>
                                    <li class="active">Первое занятие – пробное.</li>
                                    <!-- <li>Unlimited Emails</li>
                                    <li>24/7 Security</li> -->
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="https://t.me/pavel_kaliberda" class="main-button">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Pricing Item End ***** -->
    
                    <!-- ***** Pricing Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h3 class="pricing-title">Парное занятие</h3>
                            </div>
                            <div class="pricing-body">
                                <div class="price-wrapper">
                                    <span class="currency">$</span>
                                    <span class="price">44</span>
                                    <span class="period">(60 минут)</span>
                                </div>
                                <ul class="list">
                                    <li class="active">Ты, твой партнёр и преподаватель. 
                                        Вы будите в постоянном диалоге с вашим товарищем, а я буду модерировать ваш диалог.</li>
                                    <li class="active">Индивидуальная программа обучения адаптирована под ваши цели и задачи.</li>
                                    <li class="active">Гибкое расписание.</li>
                                    <li class="active">1-3 раза в неделю по 60 мин.</li>
                                    <!-- <li class="active">Pro Design Panel</li>
                                    <li class="active">15-minute support</li>
                                    <li class="active">Unlimited Emails</li>
                                    <li class="active">24/7 Security</li> -->
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="https://t.me/pavel_kaliberda" class="main-button">Оставить заявку</a>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Pricing Item End ***** -->
                </div>
            </div>
        </section>
        <!-- ***** Pricing Plans End ***** -->

        <!-- ***** Money back Start ***** -->
        <section class="section" id="money-back">
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">Возврат средств</h2>
                            <img src="static/assets/images/money_3744231.png" alt="">
                        </div>
                        
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p><strong>Мне очень важно, чтобы ты был полностью доволен обучением и с радостью посещал занятия. Если вдруг, после второго группового урока ты понимаешь, что тебе некомфортно, то твоя оплата будет возвращена в полном объёме.
                            </strong></p>
                        </div>
                    </div>
                </div>
                <!-- ***** Section Title End ***** -->
            </div>
        </section>
        <!-- ***** Money back End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Как проходит процесс обучения</h1>
                            <p></p>
                        </div>
                    </div>
                </div>
    
                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="static/assets/images/ballot_4474034.png" alt=""></i>
                            <strong>Тестирование</strong>
                            <span>Определим твой уровень знания английского с практической точки зрения, чтобы подобрать курс оптимальной сложности.</span>
                        </a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="static/assets/images/rocket_1323780.png" alt=""></i>
                            <strong>Уверенный старт</strong>
                            <span>Первое занятие – пробное. Ты участвуешь в первом полноценном занятии и решаешь, готов ли достигать своих целей под моим наставничеством. Если тебя всё устраивает – вносишь оплату и мы начинаем!
                            </span>
                        </a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="static/assets/images/power_1599962.png" alt=""></i>
                            <strong>Интенсивные занятия</strong>
                            <span>Каждое занятие - это минимум необходимой теории и максимум грамматической, лексической и разговорной практики. На уроках ты будешь слышать и говорить исключительно на Английском языке. Мы вместе создаем нашу уютную английскую атмосферу. В такой обстановке у тебя есть все шансы переступить любой языковой барьер и наконец-то получать удовольствие от процесса.
                            </span>
                        </a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="static/assets/images/trophy_4056657.png" alt=""></i>
                            <strong>Результаты</strong>
                            <span>Мы не пишем финальных тестов! Нам важнее увидеть, а точнее услышать, чего добился ты за 3-4 месяца обучения. В заключительном занятии курса, каждый будет иметь возможность выступить с 5-7 минутной презентацией и ответить на заранее неподготовленные вопросы своих одногруппников. Таким образом, финальная оценка будет зависеть от качества твоей устной речи, произношения и восприятия на слух. Всё прозрачно и честно.
                            </span>
                        </a>
                    </div>
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Pricing Plans1 Start ***** -->
    <section class="section colored" id="manuals">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Мои методички</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Elementary
                                </h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">9</span>
                                <span class="period">  словарь (A1)</span>
                            </div>
                            <ul class="list">
                                <li class="active">Elementary 1.0 
                                    Топ 168 слов Английского языка. Это твои 60% базовой разговорной лексики.
                                    <br> (80 прилагательных, 
                                     88 глаголов.)
                                    </li>
                                    <li class="active">Elementary 2.0 
                                        Содержит 300 простых, 
                                        но очень полезных слов.
                                    </li>
                                    <li class="active">Бонус. Список “Tоп 50 неправильных глаголов”.</li>
                                <!-- <li>15-minute support</li>
                                <li>Unlimited Emails</li>
                                <li>24/7 Security</li> -->
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="/order/elementary" class="main-button">Заказать</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Pre-intermediate
                                </h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">11</span>
                                <span class="period"> словарь (A2+)</span>
                            </div>
                            <ul class="list">
                                <li class="active">Pre-intermediate 1.0 
                                    Содержит 300 самых 
                                    часто используемых слов данного уровня.
                                </li>
                                <li class="active">Pre-intermediate 2.0 
                                    Содержит 200 самых 
                                    часто используемых слов данного уровня
                                </li>
                                <li class="active">Бонус. Список “Tоп 50 неправильных глаголов.”</li>
                                <!-- <li class="active">15-minute support</li>
                                <li>Unlimited Emails</li>
                                <li>24/7 Security</li> -->
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://t.me/pavel_kaliberda" class="main-button">Заказать</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Intermediate
                                </h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">10</span>
                                <span class="period">  словарь (B1+)</span>
                            </div>
                            <ul class="list">
                                <li class="active">Intermediate 1.0 
                                    Содержит 250 самых 
                                    часто используемых слов 
                                    и фразовых глаголов 
                                    данного уровня.
                                </li>
                                <li class="active">Intermediate 2.0 
                                    Содержит 200 самых 
                                    часто используемых слов 
                                    и фразовых глаголов.
                                </li>
                                <li class="active">Бонус. Список “Tоп 50 неправильных глаголов.”</li>
                                <!-- <li class="active">15-minute support</li>
                                <li class="active">Unlimited Emails</li>
                                <li class="active">24/7 Security</li> -->
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://t.me/pavel_kaliberda" class="main-button">Заказать</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Pricing Plans1 End ***** -->


    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Об авторе курсов</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p><strong>Привет! Меня зовут Пол.</strong></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                
                
                    <div class="team-item1">
                        
                        <div class="team-content1">    
                            <!-- <i><img src="static/assets/images/testimonial-icon.png" alt=""></i> -->
                            <p>Я никогда не жил за границей и начал самостоятельно изучать английский в возрасте 16-ти лет. Я был на твоём месте и испытал на практике, на сколько это сложно учить иностранный язык с нуля. Больше чем за 12 лет я прошёл свой путь от новичка до опытного наставника, и знаю, что именно поможет тебе в достижении твоих целей.
                                Занимаясь по моей методике, ты сэкономишь собственное время и деньги, а также добьёшься значительных практических результатов в короткие сроки.
                                 Моя цель - предоставить тебе идеальные условия и материалы для обучения, 
                                и стать для тебя тем преподавателем, которого ты действительно заслуживаешь.
                                </p>
                            <div class="user-image1">
                                <img src="static\assets\images\paul.jpg" alt="">
                            </div>
                            <div class="team-info1">
                                <h3 class="user-name1">Paul Kaliberda</h3>
                                <span>Founder</span>
                            </div>
                        </div>
                    </div>
                
                <!-- ***** Testimonials Item End ***** -->

                
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->



    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <!-- <strong>126</strong>
                            <span>Projects</span> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <!-- <strong>63</strong>
                            <span>Happy Clients</span> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <!-- <strong>18</strong>
                            <span>Awards Wins</span> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <!-- <strong>27</strong>
                            <span>Countries</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   


    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Связь со мной</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Простой способ связаться со мной или задать интересующий тебя вопрос можно по форме ниже.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Будьте на связи.</h5>
                    <div class="contact-text">
                        <!-- <p>110-220 Quisque diam odio, maximus ac consectetur eu, 10260
                        <br>auctor non lorem</p> -->
                        <p>Как только у меня появится свободное время - обязательно дам обратную связь. 
                           <br> Спасибо за обращение.</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Полное имя (ФИО)" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="e-mail адрес" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Ваше сообщение" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Отправить сообщение</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li>    -->
                        <li><a href="https://youtube.com/@shozaenglish?si=-Lw5uxPTWPbj2Zs1"><i class="fa fa-youtube"></i></a></li>   
                        <li><a href="https://t.me/pavel_kaliberda"><i class="fa fa-phone"></i></a></li> 
                        <li><a href="https://www.instagram.com/paul_kaliberda/"><i class="fa fa-instagram"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Права защищены &copy; 2024 Дизайн: <a href="mailto:kaliberda.pasha@gmail.com">Павел Калиберда</a> - Разработка: <a href="mailto:kaliberda.dima@gmail.com ">Дмитрий Калиберда</a></p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/assets/js/scrollreveal.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="static/assets/js/custom.js"></script>

    <script>
        function switchLanguage(language) {
            // Implement logic to switch between languages (e.g., change content)
            console.log('Switching language to', language);
        }
    </script>

  </body>
</html>