<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Shozaenglish</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="static/assets/css/templatemo-softy-pinko.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="static/assets/images/logo.png" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">Головна</a></li>
                            <li><a href="#testimonials1">Принципи навчання</a></li>
                            <li><a href="#pricing-plans">Варіанти навчання</a></li>
                            <li><a href="#money-back">Повернення коштів</a></li>
                            <li><a href="#work-process">Процес навчання</a></li>
                            <li><a href="#manuals">Мої методички</a></li>
                            <li><a href="#testimonials">Про мене</a></li>
                            <li><a href="#contact-us">Зв'язок</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                        <!-- ***** Language Switch Start ***** -->
                        <div class="lang-switch">
                            <a href="#" class="lang-switch-button-ukr">Укр</a>
                            <a href="http://shozaenglish.pp.ua/" class="lang-switch-button-ru">Ру</a>
                            <!-- <button class="lang-switch-button" onclick="switchLanguage('ru')">Рус</button> -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1><strong>Сучасна впевнена розмовна Англійська, яка вирішує життєві завдання, а не тестові вправи</strong></h1>
                        <p>Записатися на безкоштовне пробне заняття</p>
                        <a href="https://t.me/pavel_kaliberda" class="main-button-slider">Залишити заявку</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->
    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials1">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title"><b>Ти будеш задоволений навчанням</b></h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p><strong>Я покажу тобі, як дійсно має виглядати процес реального вивчення англійської мови.</strong></p>
                        <p><strong>Твої цілі, результати та комфорт навчання – мої головні пріоритети.</strong></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/approved_5356047.png" alt=""> Перевірена методика</i>
                            <p>Навчання проходить за унікальною авторською методикою, яка довела свою ефективність на більш ніж сотнях студентів різного віку та професій, яку я розробляв та вдосконалював протягом 4-х років.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/checklist_12698274.png" alt=""> Актуальна програма</i>
                            <p>Ти будеш вивчати сучасну живу англійську, яка дасть тобі можливість розуміти і користуватися переважною частиною усного та писемного мовлення. Тим, яким користується більшість людей у повсякденному житті, навчанні, роботі та соціальних мережах.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/group_4544844.png" alt=""> Групи по 8-10 осіб</i>
                            <p>Робота проходить у парах чи групах по 3 особи під моїм особистим керівництвом. Ви отримуєте практичні розмовні завдання, в яких обговорюєте різні актуальні цікаві теми, користуючись при цьому раніше вивченою граматикою та словниковим запасом. А в цей час я виправляю ваші помилки і даю корисні поради.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/stay-home_3015379.png" alt=""> Зручна форма навчання</i>
                            <p>Заняття проводяться у Zoom або Skype. Загальний чат в Telegram. 
                                Матеріали навчання: словники, підручник з граматики, файли для читання та аудіювання включені у вартість курсів. Всі ці методичні посібники створені особисто мною, щоб ти мав можливість самостійно вдосконалювати свою англійську, користуючись якісними матеріалами у необмеженому обсязі.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/independent_11923079.png" alt=""> Здорове середовище</i>
                            <p>Наше навчання та комунікація будуються на основі кількох простих правил:        
                                <ul class="list">
                                    <li class="main"> 1. Розслабся i будь собою.</li>
                                    <li class="main"> 2. Поважай та допомагай один одному.</li>
                                    <li class="main"> 3. Задавай запитання i нічого не бійся.</li>
                                    <li class="main"> 4. Заняття проводяться англійською мовою.</li>
                                    <li class="main"> 5. Отримуй задоволення.</li>
                                </ul>
                                </p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="static/assets/images/support_1067566.png" alt=""> Онлайн підтримка</i>
                            <p>Я завжди готовий відповісти на питання, що цікавлять або хвилюють тебе. 
                                Готовий простягнути руку допомоги, якщо ти починаєш втрачати мотивацію, а також допоможу прибрати непотрібні страхи.</p>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->
        <!-- ***** Pricing Plans Start ***** -->
        <section class="section colored" id="pricing-plans">
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">Варіанти навчання</h2>
                        </div>
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p></p>
                        </div>
                    </div>
                </div>
                <!-- ***** Section Title End ***** -->
    
                <div class="row">
                    <!-- ***** Pricing Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h3 class="pricing-title">Індивідуальне</h3>
                            </div>
                            <div class="pricing-body">
                                <div class="price-wrapper">
                                    <span class="currency">$</span>
                                    <span class="price">20/28/33</span>
                                    <span class="period">30/45/60 хвилин</span>
                                </div>
                                <ul class="list">
                                    <li class="active">Ти та викладач. 
                                        Вся увага лише тобі.
                                     </li>
                                    <li class="active">Індивідуальна програма навчання.</li> 
                                    <li class="active">Адаптована безпосередньо під твої цілі та задачі.</li>
                                    <li class="active">Безкоштовне тестування рівня англійської мови.</li>
                                    <li class="active">Гнучкий розклад.</li>
                                    <li class="active">1-3 рази на тиждень по 60 хвилин.</li>
                                    <!-- <li>Unlimited Emails</li>
                                    <li>24/7 Security</li> -->
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="https://t.me/pavel_kaliberda" class="main-button">Залишити заявку</a>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Pricing Item End ***** -->
    
                    <!-- ***** Pricing Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                        <div class="pricing-item active">
                            <div class="pricing-header">
                                <h3 class="pricing-title">В групі</h3>
                            </div>
                            <div class="pricing-body">
                                <div class="price-wrapper">
                                    <span class="currency">$</span>
                                    <span class="price">125</span>
                                    <span class="period">(8 занять)</span>
                                </div>
                                <ul class="list">
                                    <li class="active">Групи по 8-10 осіб.</li>
                                    <li class="active">Заняття 2 рази по 90 хвилин
                                        на тиждень. 
                                     </li>
                                    <li class="active">Онлайн-підтримка.</li>
                                    <li class="active">Оплата частинами.</li>
                                    <li class="active">Знижка 10% при оплаті   
                                        повного курсу.
                                      </li>
                                    <li class="active">Перше заняття – пробне.</li>
                                    <!-- <li>Unlimited Emails</li>
                                    <li>24/7 Security</li> -->
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="https://t.me/pavel_kaliberda" class="main-button">Залишити заявку</a>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Pricing Item End ***** -->
    
                    <!-- ***** Pricing Item Start ***** -->
                    <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <h3 class="pricing-title">Парне заняття</h3>
                            </div>
                            <div class="pricing-body">
                                <div class="price-wrapper">
                                    <span class="currency">$</span>
                                    <span class="price">44</span>
                                    <span class="period">(60 хвилин)</span>
                                </div>
                                <ul class="list">
                                    <li class="active">Ти, твій партнер та викладач.
                                        Ви будите в постійному діалозі з вашим товаришем, а я модеруватиму ваш діалог.</li>
                                    <li class="active">Індивідуальна програма навчання адаптована під ваші цілі та задачі.</li>
                                    <li class="active">Гнучкий розклад.</li>
                                    <li class="active">1-3 рази на тиждень по 60 хвилин.</li>
                                    <!-- <li class="active">Pro Design Panel</li>
                                    <li class="active">15-minute support</li>
                                    <li class="active">Unlimited Emails</li>
                                    <li class="active">24/7 Security</li> -->
                                </ul>
                            </div>
                            <div class="pricing-footer">
                                <a href="https://t.me/pavel_kaliberda" class="main-button">Залишити заявку</a>
                            </div>
                        </div>
                    </div>
                    <!-- ***** Pricing Item End ***** -->
                </div>
            </div>
        </section>
        <!-- ***** Pricing Plans End ***** -->

        <!-- ***** Money back Start ***** -->
        <section class="section" id="money-back">
            <div class="container">
                <!-- ***** Section Title Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="center-heading">
                            <h2 class="section-title">Повернення коштів</h2>
                            <img src="static/assets/images/money_3744231.png" alt="">
                        </div>
                        
                    </div>
                    <div class="offset-lg-3 col-lg-6">
                        <div class="center-text">
                            <p><strong>Мені дуже важливо, щоб ти був повністю задоволений навчанням та з радістю відвідував заняття. Якщо раптом, після другого групового уроку ти розумієш, що тобі некомфортно, то твою оплату буде повернуто в повному обсязі.
                            </strong></p>
                        </div>
                    </div>
                </div>
                <!-- ***** Section Title End ***** -->
            </div>
        </section>
        <!-- ***** Money back End ***** -->

    <!-- ***** Home Parallax Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Як відбувається процес навчання</h1>
                            <p></p>
                        </div>
                    </div>
                </div>
    
                <!-- ***** Mini Box Start ***** -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="static/assets/images/ballot_4474034.png" alt=""></i>
                            <strong>Тестування</strong>
                            <span>Визначимо твій рівень знання англійської з практичної точки зору, щоб підібрати курс оптимальної складності.</span>
                        </a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="static/assets/images/rocket_1323780.png" alt=""></i>
                            <strong>Впевнений старт</strong>
                            <span>Перше заняття – пробне. Ти береш участь у першому повноцінному занятті і вирішуєш, чи готовий досягати своїх цілей під моїм наставництвом. Якщо тебе все влаштовує – вносиш оплату і ми починаємо!
                            </span>
                        </a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="static/assets/images/power_1599962.png" alt=""></i>
                            <strong>Інтенсивні заняття</strong>
                            <span>Кожне заняття - це мінімум необхідної теорії та максимум граматичної, лексичної та розмовної практики. На уроках ти будеш чути і говорити виключно англійською мовою. Ми разом створюємо нашу затишну англійську атмосферу. У такому середовищі у тебе є всі шанси переступити будь-який мовний бар'єр і нарешті почати отримувати задоволення від процесу.
                            </span>
                        </a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="static/assets/images/trophy_4056657.png" alt=""></i>
                            <strong>Результати</strong>
                            <span>Ми не пишемо фінальних тестів! Нам важливіше побачити, а точніше почути, чого досяг ти за 3-4 місяці навчання. У заключному занятті курсу кожен матиме можливість виступити із 5-7 хвилинною презентацією та відповісти на заздалегідь непідготовлені питання своїх одногрупників. Таким чином, фінальна оцінка залежатиме від якості твого мовлення, вимови та сприйняття на слух. Все прозоро та чесно.
                            </span>
                        </a>
                    </div>
                </div>
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    
    <!-- ***** Home Parallax End ***** -->

    <!-- ***** Pricing Plans1 Start ***** -->
    <section class="section colored" id="manuals">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Мої методички</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Elementary
                                </h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">9</span>
                                <span class="period">  словник (A1)</span>
                            </div>
                            <ul class="list">
                                <li class="active">Elementary 1.0 
                                    Топ 168 слів англійської мови. Це твої 60% базової розмовної лексики.
                                    (80 прикметників, 
                                     88 дієслів.)
                                    </li>
                                    <li class="active">Elementary 2.0 
                                        Містить 300 простих,
                                        але дуже корисних слів.
                                    </li>
                                    <li class="active">Бонус. Список “Tоп 50 неправильних дієслів”.</li>
                                <!-- <li>15-minute support</li>
                                <li>Unlimited Emails</li>
                                <li>24/7 Security</li> -->
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://t.me/pavel_kaliberda" class="main-button">Замовити</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Pre-intermediate
                                </h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">11</span>
                                <span class="period"> словник (A2+)</span>
                            </div>
                            <ul class="list">
                                <li class="active">Pre-intermediate 1.0 
                                    Містить 300 найчастіше 
                                    використовуваних слів цього рівня.
                                </li>
                                <li class="active">Pre-intermediate 2.0 
                                    Містить 200 найчастіше 
                                    використовуваних слів цього рівня.
                                </li>
                                <li class="active">Бонус. Список “Tоп 50 неправильних дієслів”.</li>
                                <!-- <li class="active">15-minute support</li>
                                <li>Unlimited Emails</li>
                                <li>24/7 Security</li> -->
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://t.me/pavel_kaliberda" class="main-button">Замовити</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <h3 class="pricing-title">Intermediate
                                </h3>
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">10</span>
                                <span class="period">  словник (B1+)</span>
                            </div>
                            <ul class="list">
                                <li class="active">Intermediate 1.0 
                                    Містить 250 найчастіше 
                                    використовуваних слів 
                                    і фразових дієслів цього рівня.
                                </li>
                                <li class="active">Intermediate 2.0 
                                    Містить 200 найчастіше 
                                    використовуваних слів 
                                    і фразових дієслів.
                                </li>
                                <li class="active">Бонус. Список “Tоп 50 неправильних дієслів”.</li>
                                <!-- <li class="active">15-minute support</li>
                                <li class="active">Unlimited Emails</li>
                                <li class="active">24/7 Security</li> -->
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="https://t.me/pavel_kaliberda" class="main-button">Замовити</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Pricing Plans1 End ***** -->


    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Про автора курсів</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p><strong>Привіт! Мене звуть Пол.</strong></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                
                
                    <div class="team-item1">
                        
                        <div class="team-content1">    
                            <!-- <i><img src="static/assets/images/testimonial-icon.png" alt=""></i> -->
                            <p>Я ніколи не жив за кордоном і почав самостійно вивчати англійську у віці 16 років. Я був на твоєму місці і випробував на практиці, наскільки це складно вивчати іноземну мову з нуля. Більше ніж за 12 років я пройшов свій шлях від новачка до досвідченого наставника і знаю, що саме допоможе тобі в досягненні твоїх цілей.
                                Займаючись за моєю методикою, ти заощадиш власний час і гроші, а також досягнеш значних практичних результатів у короткий термін.
                                Моя мета - надати тобі ідеальні умови та матеріали для навчання,
                                і стати для тебе тим викладачем, на якого ти дійсно заслуговуєш.
                                </p>
                            <div class="user-image1">
                                <img src="static\assets\images\paul.jpg" alt="">
                            </div>
                            <div class="team-info1">
                                <h3 class="user-name1">Paul Kaliberda</h3>
                                <span>Founder</span>
                            </div>
                        </div>
                    </div>
                
                <!-- ***** Testimonials Item End ***** -->

                
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->



    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <!-- <strong>126</strong>
                            <span>Projects</span> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-top">
                            <!-- <strong>63</strong>
                            <span>Happy Clients</span> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item decoration-bottom">
                            <!-- <strong>18</strong>
                            <span>Awards Wins</span> -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="count-item">
                            <!-- <strong>27</strong>
                            <span>Countries</span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   


    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">Зв'язок зі мною</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Простий спосіб зв'язатися зі мною або задати питання, що вас цікавить, можна за формою нижче.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Будьте на зв'язку</h5>
                    <div class="contact-text">
                        <!-- <p>110-220 Quisque diam odio, maximus ac consectetur eu, 10260
                        <br>auctor non lorem</p> -->
                        <p>Як тільки у мене з'явиться вільний час – обов'язково дам зворотний зв'язок, дякую за звернення.</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Повне ім'я (ПІБ)" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="e-mail адреса" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Ваше повідомлення" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Залишити повідомлення</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li>    -->
                        <li><a href="https://youtube.com/@shozaenglish?si=-Lw5uxPTWPbj2Zs1"><i class="fa fa-youtube"></i></a></li>   
                        <li><a href="https://t.me/pavel_kaliberda"><i class="fa-brands fa-telegram"></i></a></li> 
                        <li><a href="https://www.instagram.com/paul_kaliberda/"><i class="fa fa-instagram"></i></a></li>
                        <!-- <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Права захищенні &copy; 2024 Дизайн: Павло Каліберда - Розробка:<a href="mailto:kaliberda.dima@gmail.com ">Дмитро Каліберда</a></p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="static/assets/js/popper.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="static/assets/js/scrollreveal.min.js"></script>
    <script src="static/assets/js/waypoints.min.js"></script>
    <script src="static/assets/js/jquery.counterup.min.js"></script>
    <script src="static/assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="static/assets/js/custom.js"></script>

  </body>
</html>