<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Shozaenglish</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <!-- <link rel="stylesheet" type="text/css" href="static/assets/css/bootstrap.min.css"> -->

    <!-- <link rel="stylesheet" type="text/css" href="static/assets/css/font-awesome.css"> -->

    <!-- <link rel="stylesheet" href="static/assets/css/templatemo-softy-pinko.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-softy-pinko.css') }}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="{{ url_for('static', filename='assets/images/logo.png') }}" alt="Softy Pinko"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/">Главная</a></li>
                            <li><a href="/#testimonials1">Принципы обучения</a></li>
                            <li><a href="/#pricing-plans">Варианты обучения</a></li>
                            <li><a href="/#money-back">Возврат средств</a></li>
                            <li><a href="/#work-process">Процесс обучения</a></li>
                            <li><a href="/#manuals">Мои методички</a></li>
                            <li><a href="/#testimonials">Обо мне</a></li>
                            <li><a href="/#contact-us">Связь</a></li>
                        </ul>

                        
                        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                        <!-- ***** Language Switch Start ***** -->
                        <!-- <div class="lang-switch"> -->
                            <!-- <a href="http://127.0.0.1:5000/contact_ua" class="lang-switch-button-ukr">Укр</a> -->
                            <!-- <a href="http://127.0.0.1:5000/contact" class="lang-switch-button-ru">Ру</a> -->
                            <!-- <button class="lang-switch-button" onclick="switchLanguage('ru')">Рус</button> -->
                        <!-- </div> -->
                    </nav>
                    
                </div>
            
            
            </div>
        </div>
        
    </header>
    
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1><strong> <br><br><br>Инструкция по оформлению заказа:</strong></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <ul class="list">
                            <li>1. Выбираете удобный для вас способ оплаты <br> в разделе <strong>“Варианты оплаты”</strong> 
                                указанный ниже. 
                            </li>
                            <li>2. Оплачиваете указанную сумму за выбранный вами продукт <br> на отображающиеся    
                                реквизиты. 
                            </li>
                            <li>3. Заполняете форму заказа: ФИО Плательщика и способ связи <br> c вами (метод оплаты подтягивается автоматически). <br>
                                * Важно! В поле “ФИО Плательщика” необходимо указать имя владельца счёта/карты 
                                  c которой производится оплата, а не собственное имя. <br>
                                **В случае оплаты  криптовалютой <br> указываете <strong>точное время транзакции</strong>  в поле <strong>Примечание.</strong>
                            </li>
                            <li>4. Нажимаете кнопку <strong>“Оформить заказ”</strong>.</li>
                            <li>5. После чего оплаченный продукт будет отправлен на указанный вами способ связи в 
                                течении 12-ти часов. <br>
                            * Если в течении данного времени заказ не был обработан – вам нужно связаться со мной         
                                 напрямую и выслать детали оплаты. <br>
                            **В случае получения неполной/частичной суммы за выбранный продукт - данный   
                                  платёж будет возвращён отправителю. 
                            </li>
                        </ul>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <ul class="social">
                                    <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li>    -->
                                    <li><a href="mailto:kaliberda.pasha@gmail.com"><i class="fa fa-envelope"></i> Gmail</a></li>   
                                    <li><a href="https://t.me/pavel_kaliberda"><i class="fa fa-phone"></i> Telegram</a></li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- ***** Header Text End ***** -->    
    <!-- ***** Pricing Item Start ***** -->
    <div class="col-lg-4 col-md-6 col-sm-12 mx-auto text-center" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
        <div class="order-item">
            <div class="order-header">
                <h3 class="order-title">Elementary
                    </h3>
            </div>
            <div class="order-body">
                <div class="price-wrapper">
                    <span class="currency">$</span>
                    <span class="price">9</span>
                    <span class="period">  словарь (A1)</span>
                </div>
                <ul class="list">
                    <li class="active">Elementary 1.0 
                        Топ 168 слов Английского языка. <br> Это твои 60% базовой разговорной лексики.
                        <br> (80 прилагательных, 
                            88 глаголов.)
                        </li>
                        <li class="active">Elementary 2.0 
                            Содержит 300 простых, 
                            но очень полезных слов.
                        </li>
                        <li class="active">Бонус. Список “Tоп 50 неправильных глаголов”.</li>
                    <!-- <li>15-minute support</li>
                    <li>Unlimited Emails</li>
                    <li>24/7 Security</li> -->
                </ul>
            </div>
        </div>
    </div>
    
    <!-- ***** Payment Methods Start ***** -->
    <section class="mini" id="work-process">
        <div class="mini-content">
            <div class="container">
                <div class="row">
                    <div class="offset-lg-3 col-lg-6">
                        <div class="info">
                            <h1>Варианты оплаты</h1>
                            <p></p>
                        </div>
                    </div>
                </div>
                
                <fieldset class="row justify-content-center align-items-center">
                    <div class="dropdown">
                        <button class="dropdown-btn" id="selectedItemBtn">Выбрать способ оплаты</button>
                        <div class="dropdown-content" id="dropdownItems">
                            <a href="#" onclick="changeSection('section0','Не выбран')">Не выбран</a>
                            <a href="#" onclick="changeSection('section2','Privatbank24 (USD)')">Privatbank24 (USD)</a>
                            <a href="#" onclick="changeSection('section3','Privatbank24 (UAH)')">Privatbank24 (UAH)</a>
                            <a href="#" onclick="changeSection('section1','Monobank (UAH)')">Monobank (UAH)</a>
                            <a href="#" onclick="changeSection('section4','Paypal')">Paypal</a>
                            <a href="#" onclick="changeSection('section6','BinancePay (ID)')">BinancePay (ID)</a>
                            <a href="#" onclick="changeSection('section5','USDT (TRC20)')">USDT (TRC20)</a>
                        </div>
                    </div>
                </fieldset>
                
                
                <div id="section0" class="row">
                </div>
                
                <!-- <div id="section3" class="section" style="display: none;">
                <h2>Section 3 Content</h2>
                <p>This is the content for Section 3.</p>
                </div> -->
                
                <div id="section1" class="sectiondrop" style="display: none;"> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/monobank Ukraine_logo.png') }}" alt=""></i>
                            <!-- <strong>Monobank (UAH)</strong> -->
                            <strong>(UAH)</strong>
                            <strong><p id="Copymono">4441114462643170</p></strong>
                            <strong>Получатель: Калиберда Павел Александрович </strong>
                            <strong>Курс Монобанк: {{usd_price}}</strong>
                            <strong>Необходимо заплатить > {{product_price_uah}} грн.</strong>

                            <button class="copy-button" onclick="copyText('mono')">Копировать</button>
                        </a>
                    </div>
                </div>

                <div id="section2" class="sectiondrop" style="display: none;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/logo_Privat24.png') }}" alt="" style="margin-right: 20px;"></i>
                            <!-- <strong>Privatbank24 (USD)</strong> -->
                            <strong>(USD)</strong>
                            <strong><p id="Copyprivat">5168745606289681</p></strong>
                            <strong>Получатель: Калиберда Павел Александрович </strong>
                            <strong>Необходимо заплатить > {{product_price_usd}} USD</strong>
                            <button class="copy-button" onclick="copyText('privat')">Копировать</button>
                        </a>
                    </div>
                </div>
                
                <div id="section3" class="sectiondrop" style="display: none;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/logo_Privat24.png') }}" alt="" style="margin-right: 20px;"></i>
                            <!-- <strong>Privatbank24 (UAH)</strong> -->
                            <strong>(UAH)</strong>
                            <strong><p id="Copyprivatuah">4149629316486331</p></strong>
                            <strong>Получатель: Калиберда Павел Александрович </strong>
                            <strong>Курс Монобанк: {{usd_price}}</strong>
                            <strong>Необходимо заплатить > {{product_price_uah}} грн.</strong>
                            <button class="copy-button" onclick="copyText('privatuah')">Копировать</button>
                        </a>
                    </div>
                </div>

                <div id="section4" class="sectiondrop" style="display: none;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/paypal.png') }}" alt=""></i>
                            <!-- PayPal Logo<table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700');"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_111x69.jpg" border="0" alt="PayPal Logo"></a></td></tr></table>PayPal Logo -->
                            <!-- <strong>PayPal</strong> -->
                            <strong><p id="Copypaypal">kaliberda.pasha@gmail.com</p></strong>
                            <strong>Необходимо заплатить > {{product_price_usd}} USD</strong>

                            <button class="copy-button" onclick="copyText('paypal')">Копировать</button>
                        </a>
                    </div>
                </div>

                <div id="section5" class="sectiondrop" style="display: none;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/trc20.jpg') }}" alt=""></i>
                            <!-- <i><img src="{{ url_for('static', filename='assets/images/trophy_4056657.png') }}" alt=""></i> -->
                            <strong>USDT (TRC20)</strong>
                            <strong>Необходимо заплатить > {{product_price_usd}} USDT</strong>
                            <strong><p id="Copyusdt" style="font-size: smaller;">TBQbJhBe1yzs5XxLQWbHFcV5bxxU7s1hoh</p></strong>
                            <button class="copy-button" onclick="copyText('usdt')">Копировать</button>
                        </a>
                    </div>
                </div>

                <div id="section6" class="sectiondrop" style="display: none;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/binancepay.png') }}" alt=""></i>
                            <!-- <strong>BinancePay (ID)</strong> -->
                            <strong>Binance ID:</strong>
                            <strong><p id="Copybinancepay">554131630</p></strong>
                            <strong>Необходимо заплатить > {{product_price_usd}} USDT</strong>
    
                            <button class="copy-button" onclick="copyText('binancepay')">Копировать</button>
                        </a>
                    </div>
                </div>
                
                <!-- ***** Mini Box Start ***** -->
                <!-- <div class="row"> 
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/rocket_1323780.png') }}" alt=""></i>
                            <strong>Монобанк</strong>
                            <span><p id="Copymono">43553535353534345</p></span>

                            <button class="copy-button" onclick="copyText('privat')">Копировать</button>
                        </a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/rocket_1323780.png') }}" alt=""></i>
                            <strong>ПриватБанк</strong>
                            <span><p id="Copyprivat">43553535353534345</p></span>

                            <button class="copy-button" onclick="copyText('privat')">Копировать</button>
                        </a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/power_1599962.png') }}" alt=""></i>
                            <strong>USDT(Сеть TRC-20!)</strong>
                            <span><p id="Copyusdt">sdfds9f8sdf0sd9fsd78sdf8sdf8sdf</p></span>

                            <button class="copy-button" onclick="copyText('usdt')">Копировать</button>
                        </a>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <a href="#" class="mini-box">
                            <i><img src="{{ url_for('static', filename='assets/images/trophy_4056657.png') }}" alt=""></i>
                            <strong>Paypal</strong>
                            <span><p id="Copypaypal">3453453454553535</p></span>

                            <button class="copy-button" onclick="copyText('paypal')">Копировать</button>
                        </a>
                    </div>
                </div> -->
                <!-- ***** Mini Box End ***** -->
            </div>
        </div>
    </section>
    
    <section>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 mx-auto text-center" style="margin-top: 10px; margin-bottom: 0;">
                <p style="font-size: 23pt;">Форма Заказа</p>
            </div>
        </div>
    </section>
    
    
    <!-- ***** payment Methods End ***** -->
    
                
                

    <section class="form" id="form">
        <!-- ***** Pricing Item End ***** -->
        <!-- <div class="row">
            <div class="contact-form">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Полное имя (ФИО)" required="">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="e-mail адрес" required="">
                            </fieldset>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="col-lg-12">
                            <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Оформить заказ</button>
                            </fieldset>
                        </div>
                    </div> 
                </form>
            </div>
        </div> -->

        <!-- <div class="row justify-content-center align-items-center">
            <div class="contact-form">
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-lg-22">
                            <fieldset>
                                <input name="name" type="text" class="form-control-order" id="name" placeholder="Полное имя (ФИО)" required="">
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-22">
                            <fieldset>
                                <input name="email" type="email" class="form-control-order" id="email" placeholder="e-mail адрес" required="">
                            </fieldset>
                        </div>
                    </div>    
                    <div class="row">
                        <div class="">
                            <fieldset>
                                <button type="submit" id="form-submit" class="makeorder-button">Оформить заказ</button>
                            </fieldset>
                        </div>
                    </div> 
                </form>
            </div>
        </div> -->
        
        
        
        
        
        <!-- form from GPT cHAT -->
        <!-- <div class="contact-form">
            <form id="contact" action="#" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
        
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
        
                <div class="form-group">
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                </div>
        
                <div class="form-group">
                    <button type="submit" id="form-submit" class="main-button">Оформить заказ</button>
                </div>
            </form>
        </div> -->
        <div class="container ">
                <!-- ***** Contact Form Start ***** -->
                <div class="row justify-content-center align-items-center">
                    <div class="contact-form">
                        <form id="contact" action="" method="post">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="ФИО Плательщика*" required="">
                              </fieldset>
                            </div>
                            
                            <!-- Hidden input field to store the button text value -->
                            <input type="hidden" name="paymentMethod" id="selectedItemInput" value="">
                            
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="e-mail адрес (или другой способ связи с вами)*" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="message" class="form-control" id="message" placeholder="Примечание (Необязательно)">
                              </fieldset>
                            </div>
                            <div class="col-lg-12 justify-content-center align-items-center">
                              <fieldset class="row justify-content-center align-items-center">
                                <button type="submit" id="form-submit" class="makeorder-button">Оформить заказ</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>

        
    </section>
    
        <!-- ***** Footer Start ***** -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <ul class="social">
                            <!-- <li><a href="#"><i class="fa fa-youtube"></i></a></li>    -->
                            <li><a href="https://youtube.com/@shozaenglish?si=-Lw5uxPTWPbj2Zs1"><i class="fa fa-youtube"></i></a></li>   
                            <li><a href="https://t.me/pavel_kaliberda"><i class="fa fa-phone"></i></a></li> 
                            <li><a href="https://www.instagram.com/paul_kaliberda/"><i class="fa fa-instagram"></i></a></li>
                            <!-- <li><a href="#"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <p class="copyright">Права защищены &copy; 2024 <br> 
                             Дизайн: <a href="mailto:kaliberda.pasha@gmail.com">Павел Калиберда</a> <br>
                              Разработка: <a href="https://quota.pp.ua">Дмитрий Калиберда</a></p>
                    </div>
                </div>
            </div>
        </footer>
    
    <script>
        function changeSection(sectionId, buttonText) {
            // Hide all sections
            document.querySelectorAll('.sectiondrop').forEach(sectiondrop => {
                sectiondrop.style.display = 'none';
            });
        
            // Show the selected section
            document.getElementById(sectionId).style.display = 'block';
            // Update the button text
            document.querySelector('.dropdown-btn').textContent = buttonText;
            
            document.getElementById('selectedItemInput').value = buttonText;

        }   
        </script>

    <script>
        function copyText(payment) {
        // Select the text to copy
        var textToCopy = document.getElementById("Copy"+payment);
        // Create a range and select the text
        var range = document.createRange();
        range.selectNode(textToCopy);

        // Add the range to the clipboard
        window.getSelection().removeAllRanges(); // Clear previous selections
        window.getSelection().addRange(range);
        document.execCommand("copy");

        // Deselect the text
        window.getSelection().removeAllRanges();
        
        // Optionally, provide some feedback to the user
        alert("Текст был скопирован в буфер: " + textToCopy.innerText);
    }
    </script>
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='assets/js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='assets/js/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ url_for('static', filename='assets/js/scrollreveal.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jquery.counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/imgfix.min.js') }}"></script> 
    
    <!-- Global Init -->
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>


</body>
</html>